@inject ILinkGenerator LinkGenerator
@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice

@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ApprenticeshipDetailsRequestViewModel

<div class="govuk-inset-text">

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1"> View apprentice record </h2>
    <p class="govuk-body-s govuk-!-margin-bottom-1">
        The apprentice moved providers during their apprenticeship.
    </p>

    @if (!string.IsNullOrWhiteSpace(Model.HashedNewApprenticeshipId))
    {
        <p class="das-notification__body">
            <a id="view-new-apprentice-link" class="govuk-link" href="@Url.Action("ApprenticeshipDetails", new ApprenticeshipDetailsRequest{ AccountHashedId = Model.AccountHashedId ,ApprenticeshipHashedId = Model.HashedNewApprenticeshipId })">View the new apprentice record</a>
        </p>
    }

    @if (!string.IsNullOrWhiteSpace(Model.HashedPreviousApprenticeshipId))
    {
        <p class="das-notification__body">
            <a id="view-old-apprentice-link" class="govuk-link" href="@Url.Action("ApprenticeshipDetails", new  ApprenticeshipDetailsRequest{ AccountHashedId =Model.AccountHashedId ,  ApprenticeshipHashedId = Model.HashedPreviousApprenticeshipId })">View the old apprentice record</a>
        </p>
    }
</div>