<div id="change-approved-banner" class="govuk-notification-banner govuk-notification-banner--success">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            Changes approved
        </h3>
        <p class="govuk-body">
            The Training Provider has been notified of the approval.
        </p>
    </div>
</div>