@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice
@using SFA.DAS.EmployerCommitmentsV2.Web.RouteValues
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ApprenticeshipDetailsRequestViewModel

<tr>
    <th scope="row" class="govuk-table__header das-table-cell-width-45">Payments</th>
    <td class="govuk-table__cell das-table-cell-width-40">
        <strong class="govuk-tag @(Model.FreezeStatus ? "govuk-tag--yellow" : "govuk-tag--green")">
            @(Model.FreezeStatus ? "Paused" : "Active")
        </strong>
    </td>
    <td class="govuk-table__cell das-table-cell-width-15 govuk-table__cell--numeric">
        @if (Model.CanChangePayments)
        {
            <a id="change-payments-link" href="@Url.RouteUrl(RouteNames.ChangePayments, new { AccountHashedId = Model.AccountHashedId, ApprenticeshipHashedId = Model.HashedApprenticeshipId })" class="govuk-link">Change</a>
        }
    </td>
</tr>
