@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ApprenticeshipDetailsRequestViewModel

<div id="provider-payments-active-banner" class="govuk-notification-banner govuk-notification-banner--success">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            Provider payments have been set to "Active"
        </h3>
        <p class="govuk-body">The training provider has been informed of this update.</p>
    </div>
</div>