@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ApprenticeshipDetailsRequestViewModel

<div id="startdate-change-rejected-banner" class="govuk-notification-banner govuk-notification-banner--success">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            Changes rejected
        </h3>
        <p class="govuk-body">The training provider has been notified that you have rejected their request to change the training start date.</p>
    </div>
</div>