@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Shared.SuccessBannerModel

<div id="@Model.Id" class="govuk-notification-banner govuk-notification-banner--success">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            @Model.Heading
        </h3>
        <p class="govuk-body">
            @Model.Body
        </p>
    </div>
</div>