@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ApprenticeshipDetailsRequestViewModel

<div id="change-of-startdate-request-sent-banner" class="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            The training provider changed the apprentice status to "Withdrawn" @*TODO FLP-788 set this date correctly: on the 10th January 2024*@
        </h3>
        <p class="govuk-body">
            Reason for update: Apprentice has withdrawn from training.

            If you believe this was done in error please contact the training provider.
        </p>
    </div>
</div>