@using SFA.DAS.EmployerCommitmentsV2.Web.Extensions
@if(TempData.ContainsKey(ITempDataDictionaryExtensions.FlashMessageTempDataKey))
{
    var message = TempData[ITempDataDictionaryExtensions.FlashMessageTempDataKey];

    <div class="govuk-panel govuk-panel--confirmation">
        <h3 class="govuk-panel__title">
            @message
        </h3>
    </div>
}
