@{
    ViewData["Title"] = "Bad Request";
    ViewBag.GaData.Vpv = "/error/400";
}

<h1 class="govuk-heading-xl">Bad Request</h1>
<p class="govuk-body">Your request is invalid and cannot be processed.</p>
