@{
    ViewData["Title"] = "Access denied";
    ViewBag.GaData.Vpv = "/error";
}

<h1 class="govuk-heading-xl">Access denied</h1>
<p class="govuk-body">Your account does not have sufficient privileges.</p>