@model SFA.DAS.EmployerCommitmentsV2.Web.Models.DraftApprenticeship.AddDraftApprenticeshipViewModel

@{
    ViewData["Title"] = "Add apprentice details";
    ViewBag.GaData.Vpv = "/unapproved/cohort/apprentices/add";
    ViewBag.GaData.Org = Model.LegalEntityName;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        
        <form id="addApprenticeship" novalidate method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.CohortReference)

            <button type="submit" id="defaultButton" aria-hidden="true" class="govuk-visually-hidden" tabindex="-1"></button>

            <partial name="_DraftApprenticeship" for="@Model" />

            <button type="submit" id="continue-button" class="govuk-button">Save and continue</button>
        </form>

    </div>
</div>

@section Back
{
    <div class="das-js-back-link"></div>
}


@*
    @section  Scripts
    {
        <script src="/libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
        <script>
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: document.querySelector('#CourseCode')
            })
        </script>
    }
*@