@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Shared.SelectDeliveryModelForEditViewModel

@{
    ViewBag.Title = "Select Delivery Model";
    ViewBag.GaData.Vpv = "/unapproved/cohort/apprentices/edit/select-delivery-model";
    ViewBag.GaData.Org = @Model.LegalEntityName;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <h1 class="govuk-heading-xl">Select the apprenticeship delivery model</h1>

        <form id="selectDeliveryModel" novalidate method="post">
            <input type="hidden" asp-for="CourseCode"/>

            <partial name="_SelectDeliveryModelPartial"/>

            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>

