@using SFA.DAS.CommitmentsV2.Types
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Shared.SelectDeliveryModelForEditViewModel

@{
    ViewBag.Title = Model.PageTitle;
    ViewBag.GaData.Vpv = "/unapproved/cohort/apprentices/edit/select-delivery-model";
    ViewBag.GaData.Org = @Model.LegalEntityName;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <h1 class="govuk-heading-l">@Model.PageTitle</h1>

        <form id="selectDeliveryModel" novalidate method="post">
            <input type="hidden" asp-for="CourseCode" />

            @if (Model.ShowFlexiJobAgencyDeliveryModelConfirmation)
            {
                <p>
                    You have been removed from the Register of Flexi-Job Apprenticeship Agencies.
                </p>
                <p>
                    This apprenticeship cannot continue on the Flexi-Job Agency delivery model and will be changed to a Regular delivery model.
                </p>

                <input type="hidden" asp-for="DeliveryModel" value="@DeliveryModel.Regular"/>
            }
            else
            {
                <partial name="_SelectDeliveryModelPartial"/>
            }

            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>

