@using SFA.DAS.EmployerCommitmentsV2.Web.RouteValues
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ApprenticeshipStopInformViewModel

@{
    ViewData["Title"] = "Changing training provider - Apprenticeship stopped";
    ViewBag.GaData.Vpv = "/accounts/apprentices/manage/change-provider/apprentice-stopped";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Apprenticeship record stopped
        </h1>
        <p class="govuk-body">
            You can now continue to change training provider.
        </p>
        <a id="continue-button" class="govuk-button" href="@Url.RouteUrl(RouteNames.EnterNewTrainingProvider, new { accountHashedId = Model.AccountHashedId, apprenticeshipHashedId = Model.ApprenticeshipHashedId })">
            Continue
        </a>
    </div>
</div>