@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ApprenticeshipNotEndedViewModel

@{
    ViewData["Title"] = "Apprenticeship has not yet completed";
    ViewBag.Section = "apprentices";
    ViewBag.PageId = "apprenticeship-not-ended";
    ViewBag.GaData.Vpv = "/accounts/apprentices/manage/apprenticeship-not-ended";
    ViewBag.ZenDeskLabel = "Status-stop-notcompleted";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        <p>You do not need to stop this apprenticeship; a completion payment still needs to be made to your training provider. Once this has been made the apprenticeship will complete automatically.</p>
        <p>For further information, contact your training provider.</p>
        <p>
            <a id="details-back-link" class="govuk-body govuk-link" href="@Url.Action("ApprenticeshipDetails", new ApprenticeshipDetailsRequest { AccountHashedId = Model.AccountHashedId, ApprenticeshipHashedId = Model.ApprenticeshipHashedId })">Go back to apprentice details</a>
        </p>
    </div>
</div>

@section Back
    {
    <div class="das-js-back-link"></div>
}