@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ApprenticeshipStopInformViewModel
@using SFA.DAS.EmployerCommitmentsV2.Web.RouteValues
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Changing training provider - Apprenticeship stopped";
    ViewBag.GaData.Vpv = "/accounts/apprentices/manage/change-provider/apprentice-stopped";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Apprenticeship record stopped
            </h1>
            <p class="govuk-body">
                You can now continue to change training provider.
            </p>
            <a id="continue-button" class="govuk-button"
               asp-route="@RouteNames.EnterNewTrainingProvider" asp-route-stoppedDuringCoP="true" asp-route-accountHashedIdHashedId="@Model.AccountHashedId" asp-route-apprenticeshipHashedId="@Model.ApprenticeshipHashedId">
                Continue
            </a>
        </div>
    </div>