@inject ILinkGenerator LinkGenerator;
@using SFA.DAS.EmployerCommitmentsV2.Web.Extensions
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ChangeProviderRequestedConfirmationViewModel
@{
    ViewData["Title"] = "Sent";
    var apprenticeDisplayName = Model.ApprenticeName.EndsWith("s") ? Model.ApprenticeName + "'" : Model.ApprenticeName + "'s";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title"> Change of training provider requested </h1>
        </div>

        <h2 class="govuk-heading-m"> What happens next </h2>

        <p class="govuk-body"> We’ll ask @Model.Provider.Name to enter the new apprenticeship dates and price. Once they've added @apprenticeDisplayName apprenticeship details, you can sign in to view them. </p>

        <p class="govuk-body"> If you approve the details, @Model.Provider.Name will become @apprenticeDisplayName new training provider.</p>

        <a class="govuk-link" href="@LinkGenerator.EmployerHome(Model.AccountHashedId)">Return to account home </a>
    </div>
</div>

