
@{
    ViewData["Title"] = "Sent";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title"> Change of training provider requested </h1>
        </div>

        <h2 class="govuk-heading-m"> What happens next </h2>

        @*Model.apprenticename*@
        <p class="govuk-body"> We’ll ask [new training provider name] to enter the new apprenticeship dates and price. Once they've added [apprentice name]’s apprenticeship details, you can sign in to view them. </p>
        
        @*provider and apprentice name*@
        <p class="govuk-body"> If you approve the details, [provider name] will become [apprentice name]’s new training provider.</p>
   
        <a class="govuk-link">Return to account home </a>    
    </div>
</div>

