@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.SendNewTrainingProviderRequest
@*
    Place holder for CON-2506
*@

<p> apprenticeId: @Model.ApprenticeshipHashedId</p>
<p> accountId: @Model.AccountHashedId</p>
<p> ukprn: @Model.Ukprn</p>