@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.WhatIsTheNewEndDateViewModel

@{
    ViewData["Title"] = "What is the new planned training end date?- Apprenticeship service - GOV.UK";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />

        <form method="post">
            @Html.AntiForgeryToken()

            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.EndDate,  "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-padding-bottom-6">
                        <h1 class="govuk-fieldset__heading">
                            What is the new planned training end date with @Model.ProviderName?
                        </h1>
                    </legend>

                    <p class="govuk-body govuk-!-padding-bottom-6">
                        This date must be after the new start date (@Model.StartDate.ToString("MMMM yyyy"))
                    </p>
                </fieldset>
            </div>

            <button class="govuk-button" type="submit"> Continue </button>
        </form>
    </div>
</div>

@section Back
{
    <div class="das-js-back-link"></div>
}