@model SFA.DAS.EmployerCommitmentsV2.Web.Models.AddDraftApprenticeshipToNewCohort.IndexViewModel
@{
    ViewData["Title"] = "Apprenticeships";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add an apprentice</h1>

        <p class="govuk-body">asdf</p>
        
        <h2 class="govuk-heading-l">Before you start</h2>
        
        <p class="govuk-body">You must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>know the names of your apprentices</li>
        </ul>
        
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start">
            Start now
        </a>
    </div>
</div>