
@model string
@{
    ViewData["Title"] = "Test page";
    ViewBag.Title = "Test page for roles";

}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">@Model</h1>
    </div>
</div>