@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.CohortCardLinkViewModel

@{
    var styleColor = Model.IsSelected ? "#005ea5" : "white";
    var backGroundColor = Model.IsSelected ? "white" : "#005ea5";
}

<a href="@Model.Url" id="@Model.LinkId">
    <div class="govuk-grid-column-one-quarter" style="background-color: @backGroundColor; margin:0 20px 20px 0; width:22%; border:#005ea5 solid 1px;">
        <div class="govuk-!-font-size-48 govuk-!-margin-top-4" style="color:@styleColor; font-weight:700;">@Model.Count</div>
        <p class="govuk-body" style="color:@styleColor; text-decoration:underline;">@Model.Description</p><br>
    </div>
</a>