@using SFA.DAS.EmployerCommitmentsV2.Web.Extensions
@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort
@inject ILinkGenerator LinkGenerator
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.AgreementNotSignedViewModel

@{
    ViewBag.Title = "Agreement not signed"; 
    ViewBag.GaData.Vpv = "/unapproved/agreement-not-signed";
    ViewBag.GaData.Org = Model.LegalEntityName;

    var CanContinueText = Model.CanContinueAnyway
    ? "Without an accepted agreement you can add apprentice details, but won't be able to authorise payments to training providers."
    : "Without an accepted agreement you cannot proceed any further.";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">Agreement not accepted</h1>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <div class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                <p>@Model.LegalEntityName does not have an accepted agreement with the Department for Education (<abbr>DfE</abbr>). @CanContinueText </p>
                <p>Only account owners can accept DfE agreements. If you are not sure who the owner is, you can <a href="@LinkGenerator.YourTeam(Model.AccountHashedId)" class="govuk-link">check your team details</a>.</p>
            </div>
        </div>      

        <div class="govuk-button-group">
            <a class="govuk-button" href="@LinkGenerator.YourOrganisationsAndAgreements(Model.AccountHashedId)" aria-label="Review your agreement">Review agreement</a>
            @if (Model.CanContinueAnyway)
            {
                <a class="govuk-link" href="@Url.Action("SelectProvider", new { AccountHashedId = Model.AccountHashedId, ApprenticeshipSessionKey = Model.ApprenticeshipSessionKey})">Continue anyway</a>
            }
        </div>
    </div>
</div>