@using SFA.DAS.EmployerUrlHelper.Mvc
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.CohortsViewModel

@{
    ViewData["Title"] = "Your cohort requests";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-width-container">
                <h1 class="govuk-heading-xl">Your cohort requests</h1>

                <div class="das-cards das-cards--bingo">
                    @await Html.PartialAsync("_CardLink", Model.CohortsInReview)
                    @await Html.PartialAsync("_CardLink", Model.CohortsWithTrainingProvider)
                    @await Html.PartialAsync("_CardLink", Model.CohortsInDraft)
                    @await Html.PartialAsync("_CardLink", Model.CohortsWithTransferSender)
                </div>
            </div>
        </div>
    </div>

@section Back
{
    <a id="back-link" class="govuk-back-link" href="@Url.CommitmentsLink($"/accounts/{Model.AccountHashedId}/apprentices/home")">Back to Apprentices</a>
}