@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.DetailsViewModel

@{
    ViewData["Title"] = "Approve apprentices' details";
}

<h1 class="govuk-heading-xl">Approve apprentices' details</h1>


<p><strong>Organisation:</strong> @Model.LegalEntityName</p>
<p><strong>Reference:</strong> @Model.CohortReference</p>